#head{
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  font-size: 40px;
}

#con{
  padding: 5px;
  border-radius: 8px;
  margin-left: 20px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 24px;
  color: blue;
}

#content{
  border: 2px solid black;
  border-left: 350px;
}

#list{
  margin-left: 450px;
  font-family: 'Courier New', Courier, monospace;
}

#listhead{
  margin-left: 400px;
}